# 环境变量与密钥
key.env
*.env
.env

# Python 虚拟环境
.venv/
venv/
env/

# Python 缓存
__pycache__/
*.pyc
*.egg-info/

# 大模型文件
*.bin
*.pt
*.pth
*.onnx

# IDE
.idea/
.vscode/

# 数据库与生成文件
*.db
chroma_*/

# 系统文件
Thumbs.db
.DS_Store
